<style>
  * {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  /* Remove extra left and right margins, due to padding */
  .row {
    margin: 20px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
</style>

<div style="width: 100%">
  <h1>Movies Festival</h1>

  <!-- <ul>
    <li>first movie</li>
    <% result.forEach(function(movie) { %>
    <li><%=movie.name%></li>
    <%})%>
  </ul> -->

  <div class="column" style="width: 50%">
    <% result.forEach(function(movie) { %>
    <div class="row">
      <div class="card">
        <img src="<%=movie.poster_url%>" style="width: 100%" />

        <h3><%=movie.name%></h3>
        <p><%=movie.id%></p>
        <p><%=movie.director%></p>

        <a href="/<%=movie.id%>/newCommentForm">add Comment</a>
        <br />
        <a href="/<%=movie.id%>/chooseLang">show Comments</a>
      </div>
    </div>
    <%})%>
  </div>
</div>
